{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <div class="container-fluid form-register">
        <div class="container">
            <h1 class="text-start text-white pt-5"><span>F</span>ormulaire d'<span>I</span>nscription</h1>
            {# <div class="col-md-5 mx-auto">
                {{ form(form) }}
                <p class="mb-0">Déjà membre ? <a href="{{ path('app_login') }}">Se connecter</a></p>
            </div> #}
            {{ form_start(form) }}
                <div class="row" style="font-weight:900;font-family:'Roboto Condensed';color:var(--white);font-size:25px">
                    <div class="col-md-12 mt-5">
                        {{ form_row(form.firstname) }}
                    </div>
                    <div class="col-md-12 mb-2">
                        {{ form_row(form.lastname) }}
                    </div>
                    <div class="col-md-12 mb-2">
                        {{ form_row(form.email) }}
                    </div>
                    <div class="col-md-12 mb-4">
                        {{ form_row(form.password) }}
                    </div>
                </div>
            {{ form_end(form) }}
            <p class="pb-5 m-0">Déjà membre ? <a href="{{ path('app_login') }}">Se connecter</a></p>

        </div>
    </div>

{% endblock %}
