{% extends 'base.html.twig' %}

{% block title %}Valider ma commande : Boutique Poles{% endblock %}

{% block body %}
<div class="container-fluid formOrder">
    <div class="container text-white">
        {#{% for warning in app.flashes('warning') %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{ warning }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}#}

        <h1><span>V</span>alider ma <span>C</span>ommande</h1>
        <p>Choisissez vos préférences avant de passer votre commande.</p>
        <hr>
        <div class="row bckg-blackgrey labelDelivery">
            <div class="col-md-6">
                {% set formHtml %}
                    {{ form_start(form, {action:path('order_recap')}) }} {#  Redirige #}
                        <div class="row">
                            <div class="col-md-6 pb-3 pt-3">
                                {{ form_label(form.addresses, 'Choisissez votre adresse de livraison') }}
                            </div>
                            <div class="col-md-6 my-auto pb-3 pt-3">
                                <a class=" text-primary btn btn-default btn-sm" href="{{ path('account_address_add') }}"> <i class="fas fa-plus-circle"></i> Ajouter une nouvelle adresse</a>
                            </div>
                        </div>
                    {{ form_end(form) }}
                {% endset %}

                {{ formHtml|replace({'[br]' : '<br>'})|raw }} {# Remplace les br mis dans la function __toString() en <br> #}

                <p><b>Vous pouvez modifier votre adresse de livraison en cliquant sur le bouton ci-dessous.</b></p>
                <a href="{{ path('account_address') }}" class="btn btn-primary mb-3">Modifier mon adresse de livraison</a>
            </div>

            <div class="col-md-6">
                <div class="mb-2 pt-4"><b>Détails de votre commande</b></div>
                <hr>
                {% for key,product in cart %}
                    <div class="row bg-light {% if key > 0 %}mt-2{% endif %}"> {# condition si des produit s sont à l'affiche #}
                        <div class="col-md-4 my-auto ">
                            <img src="{{ asset('uploads/' ~ product.product.illustration) }}" alt="{{ product.product.name }}" class="img-fluid">
                        </div>
                        <div class="col-md-4 my-auto">
                            <b>{{ product.product.name }}</b><br>
                            <small>{{ product.product.subtitle }}</small>
                        </div>
                        <div class="col-md-4 my-auto">
                            {{ product.quantity }}
                        </div>
                        <hr>
                    </div>
                {% endfor %}
            </div>
        </div>

    </div>
</div>
  
{% endblock %}

